.analysis_content {
  margin-top: 50px;
  margin-left: 25%;
  margin-right: 8%;
}

.analysis_titles {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  position: sticky;
  top: 56px;
  z-index: 9;
  padding-left: 25%;
  padding-right: 8%;
  background-color: #fafafa;
}

.filter_title,
.filter_account,
.filter_date {
  position: relative;
  width: 33.33%;
  display: flex;
  justify-content: center;
}

.analysis_titles svg,
.analysis_titles img {
  padding-right: 5px;
}

.filter_account,
.filter_date {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #727272;
  font-size: 0.875rem;
  cursor: pointer;
}

.accounts_filter {
  position: absolute;
  top: 35px;
  width: 15em;
  color: #000;
  background-color: #fff;
  border: 1px solid #dce2df;
  border-radius: 5px;
}

.accounts_filter_item {
  display: flex;
  align-items: center;
  height: 40px;
  margin: 5px;
  padding-left: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.accounts_filter_item:hover {
  background-color: #f7f7f7;
}

.analysis_titles .accounts_filter_item svg {
  padding: 0;
  margin-right: 10px;
}

.common_analysis_info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  height: 220px;
  border: 1px solid #f0f0f0;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 4px 10px #f3f3f3;
}

.common_analysis_info img {
  height: 30px;
  margin-right: 10px;
}

.common_info_block {
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 70%;
  margin-top: 20px;
  min-width: 160px;
  border: 1px solid #f0f0f0;
  border-radius: 10px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 4px 10px #f3f3f3;
}

.add_info_block {
  justify-self: center;
  text-align: center;
  height: 50px;
  width: 70%;
  min-width: 160px;
}

.common_info_block div {
  text-align: left;
  line-height: 25px;
}

.common_analysis_titles {
  font-size: 0.75rem;
  color: #535353;
}

.analysis_expenses_amount {
  color: #f4395b;
}

.analysis_incomes_amount {
  color: #6ebd0a;
}

.analysis_balance_amount {
  color: #419fff;
}

.common_analysis_count {
  font-size: 0.875rem;
}

.common_analysis_amount {
  color: #6d73ff;
}

.common_analysis_expenses_amount {
  color: #f4395b;
}

.common_analysis_incomes_amount {
  color: #6ebd0a;
}

.line_chart_analysis,
.bar_chart_analysis,
.pie_chart_analysis,
.analysis_table {
  margin-top: 30px;
  border: 1px solid #f0f0f0;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 4px 10px #f3f3f3;
  position: relative;
}

.chart_icon {
  height: 35px;
  position: absolute;
  left: 4%;
  top: 20px;
}

.charts_buttons {
  min-width: 510px;
  display: flex;
  justify-content: space-around;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #f0f0f0;
}

.charts_buttons button {
  height: 35px;
  border-radius: 10px;
  padding-left: 15px;
  padding-right: 15px;
  color: #989393;
  background-color: #efefef;
}

.charts_buttons button:not(.active_filter):hover {
  color: #000;
  background-color: #f4f4f4;
}

.charts_buttons .active_filter {
  border: 1px solid #6d73ff;
  background-color: #fff;
  color: #000;
}

.more_charts_btns {
  display: flex;
  align-items: center;
  justify-content: center;
}

.more_charts_btns button {
  background-color: #fff;
  color: #989393;
  height: 50px;
}

.more_charts_btns .active_more_btn,
.more_charts_btns button:hover {
  color: #000;
}

.line_chart_container,
.bar_chart_container,
.pie_chart_container {
  height: 350px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}

.table_container {
  height: 400px;
  overflow-y: auto;
}

.table_container::-webkit-scrollbar {
  width: 5px;
}

.table_container::-webkit-scrollbar-thumb {
  background: linear-gradient(109.86deg, #d38bff -2.35%, #6d73ff 81.35%);
  border-radius: 10px;
}

.chart {
  width: 70%;
  height: 100%;
}

.analysis_categories_description {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1.5fr;
  justify-content: center;
  width: 94%;
  height: 35px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.875rem;
  color: #989393;
}

.analysis_categories_description span:first-child {
  padding-left: 20px;
}

.categories_total_info {
  padding-left: 20px;
}

.categories_item {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1.5fr;
  align-items: center;
  width: 94%;
  height: 65px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  background: #ffffff;
  border: 1px solid #f0f0f0;
  box-shadow: 0px 4px 10px #f3f3f3;
  border-radius: 5px;
}

.categories_item:last-child {
  margin-bottom: 30px;
}

.categories_info {
  display: flex;
  align-items: center;
}

.categories_info svg {
  margin-left: 20px;
  margin-right: 15px;
}

.categories_incomes_amount {
  color: #6ebd0a;
}

.categories_expenses_amount {
  color: #f4395b;
}

.categories_transfers_amount {
  color: #0dc3b4;
}
