#accounts_content {
    margin-top: 56px;
    margin-left: 22%;
    margin-right: 5%;
    display: flex;
    justify-content: space-between;
}

#accounts_more_info {
    width: 22%;
    height: 80vh;
    padding-top: 10px;
    margin-top: 20px;
    margin-right: 20px;
    position: fixed;
    border: 1px solid #F0F0F0;
    border-radius: 10px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 4px 10px #F3F3F3;
}

#accounts_pieChart {
    width: 80%;
    height: 50%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

#pie_legends_block {
    display: grid;
    width: 100%;
    align-items: center;
    justify-items: start;
    grid-template-columns: 30px 2fr 2fr;
    grid-row-gap: 1em;
}

#pie_legends_block svg {
    align-self: center;
}

.legends_procent {
    justify-self: end;
    font-size: 16px;
}

#legends_container {
    height: 70%;
    overflow-y: auto;
    font-size: 14px;
    margin-top: 20px;
}

#legends_container::-webkit-scrollbar {
    width: 5px;
}

#legends_container::-webkit-scrollbar-thumb {
    background: rgba(196, 196, 196, 0.3);;
    border-radius: 10px;
}


#accounts_main_info {
    margin-left: 35%;
    width: 75%;
}

#accounts_titles {
    display: flex;
    margin-bottom: 15px;
    border-bottom: 1px solid #DCE2DF;
    position: sticky;
    top: 56px;
    z-index: 10;
    background-color: #FAFAFA;
}

#info_account_title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

#accounts_titles img {
    margin-left: auto;
}

.accounts_title {
    color: #989393;
    font-size: 15px;
    height: 50px;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.accounts_title:hover {
    color: #000;
}

.active_accounts_title {
    color: #000;
    border-bottom: 2px solid #6D73FF;
}

.account_item {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.card {
    height: 173px;
    width: 272px;
    border-radius: 10px;
    color: #fff;
}

.card_name {
    font-size: 14px;
    width: 100%;
    height: 10%;
    padding-top: 3%;
    padding-left: 15px;
}

.card_balance_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 74%;
}

.card_balance {
    font-size: 22px;
}

.card_balance_title {
    font-size: 12px;
}

.accounts_notes {
    color: #989393;
    font-size: 14px;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.accounts_notes .notes_icon {
    height: 15px;
    margin-right: 5px;
}

#add_account_btn {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
}

#add_account_btn a:hover svg path{
    fill: #a57fff;
}

#add_account_btn a {
    display: flex;
    height: inherit;
    width: inherit;
    align-items: center;
    color: #6D73FF;
}

#add_account_btn a:hover {
    color: #a57fff;
}

.account_buttons svg, #add_account_btn svg {
    height: 18px;
    width: 18px;
    margin-left: 30px;
    margin-right: 10px;
}

#add_account_btn svg {
    margin-left: 0px;
}

.account_buttons div {
    display: flex;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 25px;
    color: #C4C4C4;
    cursor: pointer;
}

.account_buttons div a {
    color: #C4C4C4;
    display: flex;
    align-items: center;
}

.account_buttons div:hover, .account_buttons div:hover a {
    color: #989393;
}

.account_buttons div:hover svg path {
    fill: #989393;
}

#account_buttons_block {
    display: flex;
}