.categories_trash_content {
    margin-top: 56px;
    margin-left: 30%;
    margin-right: 13%;
}

.trash_header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
}

.trash_icon {
    position: absolute;
    right: 0;
}

.archived_count {
    font-size: 0.875rem;
    color: #727272;
    height: 40px;
    display: flex;
    align-items: center;
}