.chart_legends {
    font-size: 0.875rem;
}

.legends_item {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.legends_item svg {
    margin-right: 10px;
}