#add_account_content {
    width: 50%;
    min-width: 461px;
    margin-top: 50px;
    margin-left: 33.5%;
    margin-right: 16.5%;
}

#account_back_nav {
    position: absolute;
    left: 0;
    height: 60px;
    display: flex;
    align-items: center;
}

#account_back_nav svg {
    width: 40px;
    height: 40px;
}

#account_back_nav:hover svg circle {
    fill: #F0F0F0;
}

#accounts_title_block {
    display: flex;
    margin-bottom: 35px;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 50px;
    z-index: 10;
    border-bottom: 1px solid #DCE2DF;
    background-color: #fafafa;
}

#add_account_titles {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #f1f1f1;
    margin-left: 15px;
    width: 100%;
}

#add_account_title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 33.3%;
    box-sizing: border-box;
    text-decoration: none;
    color: #989393;
}

#add_account_title:hover, #add_account_titles .active_account_type {
    color:#6D73FF;
}

.active_account_type {
    border-bottom: 2px solid #6D73FF;
}

#account_view {
    margin-bottom: 35px;
}

#card_view {
    height: 173px;
    width: 272px;
    border-radius: 10px;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
}

#add_account_form {
    position: relative;
}

.add_account_item {
    display: flex;
    align-items: center;
    height: 60px;
    margin-bottom: 12px;
    border: 1px solid #DCE2DF;
    background-color: #fff;
    filter: drop-shadow(0px 2px 5px #fafafa);
    border-radius: 5px;
    font-size: 14px;
    color: #C4C4C4;
}

.add_account_item input {
    width: 75%;
    color: #000;
    font-size: 16px;
}

#account_selected_color {
    cursor: pointer;
}

#account_colors_form {
    width: 432px;
    position: absolute;
    top: 200px;
    right: 0px;
    z-index: 5;
    padding: 10px;
    border: 1px solid #DCE2DF;
    border-radius: 5px;
    background-color: #fff;
}

#account_colors_form svg{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

#account_button {
    background-color: #6D73FF;
    box-shadow: 0px 4px 10px rgba(65, 159, 255, 0.5);
}

#account_button:hover {
    background-color: #a57fff;
    box-shadow: 0px 4px 10px rgb(174, 139, 255, 0.5);
}

.account_active_item {
    border: 1px solid #6D73FF;
    color: #6D73FF;
    box-shadow: 0px 4px 10px rgba(65, 159, 255, 0.1);;
}