.activeLink {
    color: #6D73FF;
    background-color: #F3F3F3;
    border-radius: 5px;
}

.activeLink svg path {
    fill:#6D73FF;
}

.activeLink #newTransactionIcon path {
    fill: #fff;
}

#navigation {
    width: 17%;
    min-width: 181px;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 20;
    border-right: 1px solid #DCE2DF;
    background-color: #fff;
}

#logo {
    display: flex;
    align-items: center;
    height:  56px;
    background: linear-gradient(109.86deg, #D38BFF -2.35%, #6D73FF 81.35%);
}

#logo svg {
    height: 45px; 
}

nav {
    width: 180px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
}

nav div {
    height: 50px;
}

nav div img {
    width: 23px;
    margin-right: 15px;
    margin-left: 15px;
}

nav div svg {
    width: 23px;
    margin-right: 15px;
    margin-left: 15px;
}

#newTransactionIcon {
    width: 33px;
    margin-left: 10px;
    margin-right: 10px;
    filter: drop-shadow(0px 2px 4px rgba(109, 115, 255, 0.5));
}

nav a{
    display: flex;
    color: #ADADAD;
    height: 45px;
    width: inherit;
    align-items: center;
}

nav a:hover {
    color: #6D73FF;
    background-color: #F3F3F3;
    border-radius: 5px;
}

nav a:hover svg path {
    fill:#6D73FF;
}

nav a:hover #newTransactionIcon path {
    fill: #fff;
}

#more_nav {
    display: flex;
    color: #ADADAD;
    align-items: center;
}
