.header {
    width: 83%;
    height: 56px;
    margin-left: 17%;
    display: flex;
    position: fixed;
    z-index: 10;
    top: 0;
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid #DCE2DF;
}

.header_title {
    font-weight: 400;
    font-size: 20px;
    padding-left: 5%;
    width: 30%;
}

.header_search {
    width: 250px;
    height: 30px;
    padding-left: 5px;
    width: 25%;
    background-color: #F7F7F7;
    border-radius: 5px;
    display: flex;
    align-items: center;
    color: #C4C4C4;
    font-size: 14px;
}

.header_search img {
    padding-left: 5px;
    padding-right: 5px;
    margin-left: auto;
    height: 20px;
}

.header_language, .header_currency, .header_logout {
    display: flex;
    justify-content: center;
}

.header_language {
    color: #727272;
    position: relative;
    cursor: pointer;
    width: 6.5%;
}

.current_language:hover {
    color: #000;
}

.languages_menu {
    position: absolute;
    top: 40px;
    z-index: 10;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #F0F0F0;
}

.languages_menu_item {
    cursor: pointer;
    padding: 10px;
}

.languages_menu_item:hover {
    color: #000;
}

.header_currency {
    color: #419FFF;
    width: 6.5%;
}

.header_profile {
    display: flex;
    justify-content: flex-end;
    width: 20%;
}

.header_logout {
    width: 8%;
}

.header_logout img {
    height: 30px;
}