.header {
    width: 100%;
    height: 56px;
    display: flex;
    position: fixed;
    z-index: 10;
    top: 0;
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid #DCE2DF;
}

.header_title {
    margin-left: 230px;
    font-weight: 400;
    font-size: 20px;
}

.header_search {
    width: 250px;
    height: 30px;
    padding-left: 5px;
    margin-left: auto;
    background-color: #F7F7F7;
    border-radius: 5px;
    display: flex;
    align-items: center;
    color: #C4C4C4;
    font-size: 14px;
}

.header_search img {
    padding-left: 5px;
    padding-right: 5px;
    margin-left: auto;
    height: 20px;
}

.header_language, .header_currency, .header_profile {
    margin-left: 30px;
    margin-right: 30px;
}

.header_language {
    color: #727272;
}

.header_currency {
    color: #419FFF;
}

.header_profile {
    margin-left: auto;
}

.header_logout {
    margin-right: 20px;
}

.header_logout img {
    height: 30px;
}