.transactions_more_info {
    width: 20%;
    height: 88vh;
    overflow-y: auto;
    margin-right: 20px;
    position: fixed;
}

.transactions_more_info::-webkit-scrollbar {
    width: 5px;
}

.transactions_more_info::-webkit-scrollbar-thumb {
    background: #efefef;
    border-radius: 10px;
}

.transaction_more_title {
    display: flex;
    align-items: center;
    justify-content: center;
    color:#727272;
}

.transactions_main_title, .transaction_more_title {
    font-size: 1rem;
    height: 50px;
}

.count_transactions_info {
    margin-top: 10px;
    text-align: center;
}

.total_transactions_count {
    margin-top: 10px;
    margin-bottom: 15px;
    color:#6D73FF;
}

.transactions_count_item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 80%;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    background: #FFFFFF;
    border: 1px solid #F0F0F0;
    box-shadow: 0px 4px 10px #F3F3F3;
    border-radius: 10px;
    text-align: left;
    font-size: 0.875rem;
}

.transactions_count_item img {
    height: 25px;
    margin-left: 10px;
    margin-right: 10px;
}

.expense_transactions_count, .income_transactions_count, .transfer_transactions_count {
    font-size: 1rem;
}

.expense_transactions_count {
    color: #F4395B;
}

.income_transactions_count {
    color: #6EBD0A;
}

.transfer_transactions_count {
    color: #0DC3B4;
}

.accounts_slides_container {
    display: flex;
    overflow: hidden;
}

.accounts_slides_container .accounts_slide:first-child .account_card {
    color: #000;
    border: dashed #fff;
    box-sizing: border-box;
}

.accounts_card_block {
    position: relative;
    margin-top: 15px;
    width: 100%;
    height: 130px;
    overflow: hidden; 
}

.accounts_card_block svg {
    position: absolute;
    z-index: 1;
    height: 28px;
    bottom: calc(50% - 14px);
    opacity: 0.5;
    cursor: pointer;
}

.accounts_card_block svg:hover {
    opacity: 0.9;
}

.arrow_left {
    left: 0;
}

.arrow_right {
    right: 0;
}

.accounts_slide {
    transition: transform 0.5s linear;
}

.account_card {
    display: block;
    height: 130px;
    width: 205px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    margin-left: 20px;
    margin-right: 20px;
}

.account_card .card_balance {
    font-size: 1rem;
}

.account_card .card_balance_title {
    font-size: 0.625rem;
}