a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.header, .navigation {
  box-sizing: border-box;
}

footer {
  height: 50px;
}

button {
  cursor: pointer;
}

input {
  border: none;
  align-items: center;
  outline: none;
}
/*
убирает стрелочки input type="number"
*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {

    -webkit-appearance: none;
    margin: 0; 
}

input[type="text"]::-webkit-input-placeholder {
  font-size: 0.875rem;
  font-style: italic;
  color: #d9d9d9;
}

.none {
  display: none;
}

.done_button_div, .cancel_button_div {
  width: 200px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.done_button_div a, .cancel_button_div a {
  width: inherit;
}

.done_button_div button, .cancel_button_div button {
  color: white;
  width: inherit;
  border-radius: 10px;
}

.cancel_button_div button {
  border: 1px solid #d9d9d9;
  background-color: #eaeaea;
  color: #000;
  filter: drop-shadow(0px 2px 5px #eaeaea);
}

.cancel_button_div button:hover {
  background-color: #F3F3F3;
}

.expense_button {
  width: inherit;
  border-radius: 10px;
  background: #F4395B;
  box-shadow: 0px 4px 10px rgba(244, 57, 91, 0.5);
}

.expense_button:hover {
  background: #fe5070;
}

.income_button {
  width: inherit;
  border-radius: 10px;
  background: #6EBD0A;
  box-shadow: 0px 4px 10px rgba(110, 189, 10, 0.5);
}

.income_button:hover {
  background: #80ca20;
}

button {
  height: 40px;
  border: none;
}

.search {
  width: 100%;
  height: 45px;
  background: #F3F3F3;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search input {
  margin-left: 20px;
  font-size: 0.875rem;
  background: #F3F3F3;
  width: 100%;
}

.search input::placeholder {
  color: #ADADAD;
}

.search img {
  height: 20px;
  margin-right: 20px;
}

.info_items {
  width: calc(20% - 30px);
  min-width: 70px;
  padding-left: 20px;
  padding-right: 10px;
}

.input_items {
  width: calc(80% - 20px);
  color: #000;
  font-size: 1rem;
}

.archived {
  position: relative;
}

.archived svg {
  height: 35px;
  filter: drop-shadow(0px 4px 4px rgba(243, 243, 243, 1));
}

.trash_count {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 0.625rem;
  color: #fff;
  background-color: #a57fff;
  border-radius: 50%;
  padding: 5% 10%;
}
