.transactions_main_info {
  margin-left: 30%;
  width: 70%;
}

.transactions_titles {
  display: flex;
  margin-bottom: 15px;
  border-bottom: 1px solid #dce2df;
  position: sticky;
  top: 56px;
  z-index: 9;
  background-color: #fafafa;
}

.transactions_title {
  color: #989393;
  font-size: 0.9375rem;
  height: 50px;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.transactions_title a:hover {
  color: #000;
}

.transactions_title a {
  height: inherit;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #989393;
}

.transactions_main_title svg,
.transactions_main_title img {
  height: 20px;
  width: 20px;
  margin-right: 5px;
}

.transactions_filter_title,
.transactions_date,
.transactions_more_filter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33.33%;
}

.transactions_filter_title {
  color: #000;
}

.transactions_title .active_transactions_title {
  color: #000;
  border-bottom: 2px solid #6d73ff;
}

.new_transaction_btn {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
}

.new_transaction_btn svg {
  height: 18px;
  margin-right: 5px;
}

.new_transaction_btn a {
  display: flex;
  height: inherit;
  width: inherit;
  align-items: center;
  color: #6d73ff;
}

.new_transaction_btn a:hover {
  color: #a57fff;
}

.new_transaction_btn a:hover svg path {
  fill: #a57fff;
}

.transactions_description {
  display: grid;
  grid-template-columns: 2fr 2fr 1.5fr 1.5fr;
  gap: 10px 5%;
  width: 100%;
  height: 35px;
  font-size: 0.875rem;
  color: #989393;
}

.transactions_description span:first-child {
  padding-left: 20px;
}

.transactions_item {
  display: grid;
  grid-template-areas:
    'category account amount date'
    'notes    notes   notes  notes';
  grid-template-columns: 2fr 2fr 1.5fr 1.5fr;
  gap: 10px 5%;
  align-items: center;
  position: relative;
  width: 100%;
  margin-bottom: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 0.875rem;
  background: #ffffff;
  border: 1px solid #f0f0f0;
  box-shadow: 0px 4px 10px #f3f3f3;
  border-radius: 5px;
}

.transaction_description {
  grid-area: category;
}

.transaction_account {
  grid-area: account;
}

.transaction_expense_amount,
.transaction_income_amount {
  grid-area: amount;
}

.transaction_expense_amount {
  color: #f4395b;
}

.transaction_income_amount {
  color: #6ebd0a;
}

.transaction_date {
  grid-area: date;
  color: #989393;
  font-size: 0.8125rem;
}

.transaction_notes {
  grid-area: notes;
  color: #989393;
  display: flex;
  align-items: center;
}

.transaction_notes .notes_icon {
  height: 15px;
  margin-right: 5px;
}

.transactions_date,
.transactions_more_filter {
  font-size: 0.875rem;
}

.transaction_description,
.transaction_account {
  display: flex;
  align-items: center;
}

.transaction_description,
.transaction_notes {
  padding-left: 15px;
}

.transaction_date,
.transaction_notes {
  padding-right: 15px;
}

.transaction_description svg,
.transaction_account svg {
  margin-right: 10px;
}

.transaction_item_buttons {
  position: absolute;
  right: 0;
  top: 10px;
}

.transaction_item_buttons svg {
  height: 30px;
  margin-right: 10px;
  opacity: 0.1;
  cursor: pointer;
}

.transaction_item_buttons svg:hover path {
  fill: #989393;
}

.transactions_item:hover .transaction_item_buttons svg {
  opacity: 1;
}
